<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Output of todo_tracker</title>
    <style type="text/css">
      body {
        color: #333;
        background: #eee;
        padding: 0 20px;
      }
      h1 {
        color: ##4E4E4E;
      }
      p {
        margin: 5px 0;
      }
      table {
        background: white;
        border: 1px solid #666;
        border-collapse: collapse;
        margin: 10px 0;
        font-size: 14px;
      }
      table.result th, table.result td {
        padding: 4px;
        border: 1px solid #D0D0D0;
      }
      table.result th {
        background-color: #DFC;
        color: #337022;
      }
      table.result td.filename {
        color: #ED1556;
      }
      table.result tr:hover {
        background-color: #FFFFC0;
      }
      ul {
        clear: both;
        display: inline-block;
        padding: 0;
        margin: 0;
      }
      ul li {
       list-style: none;
       display: none;
       float: left;
      }
      .result tbody tr{
        display: none;
      }
    </style>
  </head>
  <body>
    <h1>Pending ToDo's:</h1>
  </body>
</html>
