<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Output of todo_tracker</title>
    <style type="text/css">
      body {
        color: #333;
        background: #eee;
        padding: 0 20px;
      }

      #todo_tracker_report{
        width: 1080px;
      }

      #todo_tracker_report table {
        background: white;
        border: 1px solid #666;
        padding: 25px;
        margin: 10px 0;
        font-size: 14px;
        width: 100%;
      }

      #todo_tracker_report table th, #todo_tracker_report table td {
        padding: 4px;
        border: 1px solid #D0D0D0;
      }

      #todo_tracker_report table th {
        background-color: #DFC;
        color: #337022;
      }

      #todo_tracker_report table tr:hover {
        background-color: #FFFFC0;
      }

      #todo_tracker_report thead {
        text-align: left;
      }
    </style>
  </head>
  <body>
  <div id="todo_tracker_report">
    <h1>Pending Todo's:</h1>
    <table>
      <thead>
        <th>#</th>
        <th>Location</th>
        <th>Todo</th>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @todos.each do |todo| %>
          <tr>
            <td><%= i %></td>
            <td><%= "#{todo.file_name}:#{todo.line_no}" %></td>
            <td><%= todo.content %></td>
          </tr>
          <% i += 1 %>
        <% end %>
      </tbody>
    </table>
    <div>Generated on: <%= "#{Time.now.utc.strftime("%d-%b-%Y-%I:%M %p")} UTC" %></div>
  </div>
  </body>
</html>
